<!-- <a href="/"> Back to Home </a> -->

<h1 id="how-can-a-computer-draw-an-image-that-looks-real">How can a computer draw an image that looks real?</h1>

<div class="table-of-contents">
    <ul>
        <li>Raytracing</li>
        <li>Reflection Models</li>
        <li>Glossy Materials</li>
        <li>Subsurface Scattering</li>
        <li>Camera</li>
    </ul>
</div>
