<p><section class="footnotes">
    <hr>
    <ol>
        <li id="fn1">
            <a href="http://what-if.xkcd.com/13/">
                If every person on Earth aimed a laser pointer at the Moon at the same time, would it change color?
            </a>
        </li></p>

<p><li id="fn3">
    <a href="http://www.graphics.stanford.edu/papers/camera/"><q>
        A realistic Camera model for Computer Graphics
    </q>
    </a>
</li></p>

<p><li id="fn4">
    <p>
        See the 2007 paper <a href="https://www.cs.cornell.edu/~srm/publications/EGSR07-btdf.html"><q>
        Microfacet Models for Refraction through Rough Surfaces
        </q></p>

    <p></p></p>

    <p></li>
        <li id="fn5">
            <p>See the 2001 review, <a href="http://graphics.stanford.edu/papers/bssrdf/"><q>A Practical Model for Subsurface Light Transport</q></a><a href="#fnref1">↩</a></p>
        </li>
    </ol>
</section></p>

    <p><!-- * Bouguer’s classic experiment -->
        <!-- -  Compare a light source and a candle -->
        <!-- - Move until they both appear equally bright -->
        <!-- - Intensity is proportional to ratio of distances squared --></p>

    <p><!-- Defnition of a candela -->
        <!-- - Originally a “standard” candle -->
        <!-- - Currently 550 nm laser with 1/683 W/sr -->
        <!-- - 1 of 6 fundamental SI units --></p>

    <p><!-- radiance is a fancy word describing how many beams or photons are in a ray. --></p>

    <p><!-- * Reflectance  -->
        <!-- Glossy Surfaces Blur the Environment -->
        <!-- Essentialy, the roughness of a surface means it has more complicated -->
        <!-- micro-geometry.  --></p>

    <p><!--   cook torrance approximation -->
        <!-- Refectance of Copper as a -->
        <!-- function of wavelength and -->
        <!-- angle of incidence --></p>

    <p><!-- Refection is greater at glancing angles -->
        <!-- fresnel effect --></p>
